{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/albums.js' %}"></script>
    <script type="text/javascript">
      var basket_url = "{% url 'music_site:add_to_basket' %}";
    </script>
{% endblock %}


{% block titlebar %} Albums {% endblock %}

{% block content %}

<div class="section">

    <table class="responsive-table striped highlight">
      <thead>
        <tr class="blue-text text-darken-1">
          <th>Album</th>
          <th>Artist</th>
          <th>Price</th>
          <th class="right-align"><i class="material-icons right">add_shopping_cart</i>Add to basket</th>
        </tr>
      </thead>
     <tbody>

    <div class="row">
        <form action="" method="get">
            {% for field in filter.form %}
            <div class="col s3">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <button class="btn-floating waves-effect waves-light hoverable" type="search" name="action">
                <i class="material-icons right">filter_list</i>
            </button>
            <button id="clear-filter" class="btn-floating waves-effect waves-light hoverable" type="reset" value="Reset">
                <i class="material-icons right">clear</i>
            </button>
        </form>
    </div>
    {% for obj in filter.qs %}
        <tr>
          <div>
            <td>
              {{ obj.title }}
            </td>
          </div>
          <div>
            <td>
              {% for a in obj.artists.all %} {{ a.name }} {% endfor %}
            </td>
          </div>
          <div>
            <td>
              £{{ obj.price }}
            </td>
          </div>
          <div>
            <td><a data-album="{{ obj.id }}" class="js-add-album btn-floating waves-effect waves-light right hoverable"><i class="material-icons">add</i></a></td>
          </div>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}

</div>

{% endblock %}
