{% extends "base.html" %}


{% block titlebar %} Artists {% endblock %}

{% block content %}

<div class="section">


  <div class="row">
    <table class="striped highlight responsive-table">
      <thead>
        <tr class="blue-text text-darken-1">
          <th>Artist</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        {% for artist in object_list %}
        <tr>
          <div class="col s6">
            <td>
              {{ artist.name }}
            </td>
          </div>
          <div class="col s6">
            <td>
              {% for g in artist.genres.all %} {{ g.name }} {% endfor %}
            </td>
          </div>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}

  </div>

</div>



{% endblock %}
