{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/fontawesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/music_site.css' %}" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
  <script type='text/javascript' src="{% static 'js/cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/music-site.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
  {% block scripts %}{% endblock %}

  <title>{% block titlebar %}{% endblock %}</title>
</head>

<body>

  {% block index_features %}


  <nav>
    <div class="nav-wrapper z-depth-3" style="background-color: #a7e2e3">
      <a href="{% url 'music_site:home' %}" class="brand-logo center"><i class="material-icons">music_note</i></a>
      <ul id="nav-mobile" class="left">
        <li><a class="white-text" href="{% url 'music_site:home' %}">Home</a></li>
        <li><a class="white-text" href="{% url 'music_site:genres' %}">Genres</a></li>
        <li><a class="white-text" href="{% url 'music_site:albums' %}">Albums</a></li>
        <li><a class="white-text" href="{% url 'music_site:artists' %}">Artists</a></li>
      </ul>
      <ul class="right">

        <li><a id="basket-icon" class="btn" data-hover="true" href="{% url 'music_site:my_basket' %}">
            <div style='position:relative'>
                <i class="fa fa-shopping-cart" style="top:4px"></i>
                <span style="position:absolute; top:6px; color:black">{{basket.items}}</span>
            </div>
            </a>
        </li>
        <li><a class="white-text dropdown-button btn" data-hover="true" href="#" data-activates="dropdown-2"><i class="material-icons">account_circle</i></a>
          <ul id="dropdown-2" class="dropdown-content">
            {% if user.is_authenticated %}
              <li><a href="#">User: {{ user.get_username }}</a></li>
              <li><a href="{% url 'logout' %}?next=/home/">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
              <li><a href="{% url 'music_site:signup' %}">Create account</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </nav>



  {% endblock %}

  <div class="container">
  {% block content %}  {% endblock %}
  </div>

  <footer class="page-footer" style="background-color: #a7e2e3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>MVC Music</h5>
          <p class="white-text">For the latest and greatest in music.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Shop</h5>
          <ul>
            <li><a class="white-text" href="{% url 'music_site:home' %}">Home</a></li>
            <li><a class="white-text" href="{% url 'music_site:genres' %}">Genres</a></li>
            <li><a class="white-text" href="{% url 'music_site:albums' %}">Albums</a></li>
            <li><a class="white-text" href="{% url 'music_site:artists' %}">Artists</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="background-color: #a7e2e3">
      <div class="container white-text">
        © {% now "Y" %} Sophie Wendell
        <a class="white-text right-align" href="#!">Portfolio</a>
      </div>
    </div>
  </footer>

</body>

</html>
