{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/delete_item.js' %}"></script>
    <script type="text/javascript">
      var remove_basket_url = "{% url 'music_site:remove_from_basket' %}";
    </script>
{% endblock %}

{% block titlebar %} Basket {% endblock %}



{% block content %}
    <h3 style="color: #26a69a">Items in Basket</h3>

    {% if object_list %}
    <ul>

      {% for basketitem in object_list %}
      <li id="item_{{ basketitem.id }}" style="padding:10px">
        {{ basketitem.item.title }} - £{{ basketitem.item.price }}
        <a data-basket_item="{{ basketitem.id }}" class="js-delete-album btn-floating btn waves-effect waves-light red" type='submit' style="margin-left:15px"><i class="material-icons">clear</i></a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>There are no items in your basket.</p>
    {% endif %}

    {% if user.is_authenticated %}
    <a class="btn" href="{% url 'music_site:checkout' %}" style:"margin-bottom:10px">Checkout</a>
    {% else %}
    <a class="btn" href="{% url 'music_site:signup' %}" style:"margin-bottom:10px">Register</a>
    {% endif %}
{% endblock %}
