{% extends "base.html" %}

{% block titlebar %}
  Create Account
{% endblock %}

{% block content %}

<div class="section">
    <h5>Create Account</h5>

    <form method="post" class="validate">{% csrf_token %}
        {{ form }}


                <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Create Account
                        <i class="material-icons right">send</i>
                    </button>

                </div>



    </form>
</div>








{% endblock %}
