<footer class="page-footer z-depth-3" style="background-color: #a7e2e3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>MVC Music</h5>
        <p class="white-text">For the latest and greatest in music.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Shop</h5>
        <ul>
          <li><a class="white-text" href="{% url 'music_site:home' %}">Home</a></li>
          <li><a class="white-text" href="{% url 'music_site:genres' %}">Genres</a></li>
          <li><a class="white-text" href="{% url 'music_site:albums' %}">Albums</a></li>
          <li><a class="white-text" href="{% url 'music_site:artists' %}">Artists</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background-color: #a7e2e3">
    <div class="container white-text">
      © {% now "Y" %} Sophie Wendell
      <a class="white-text right-align" href="#!">Portfolio</a>
    </div>
  </div>
</footer>
