{% extends "base.html" %}

{% block titlebar %}
  Genres
{% endblock %}

{% block content %}

<div class="section">


  <div class="row">
    <table class="highlight centered responsive-table">
      <thead>
        <tr class="blue-text text-darken-1">
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        {% for genre in object_list %}
        <tr>
          <td>
            {{ genre.name }}
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>

</div>

{% endblock %}
