{% extends "base.html" %}
{% load static %}

{% block titlebar %}
  Home
{% endblock %}

{% block content %}
<div class="section">
  <div class="section"><h5 class="center-align thick" style="color: #ffc857">Finding fresh music has never been easier.</h5></div>
  <div class="divider"></div>


  <div class="section z-depth-2" style="color: #ffc857">
    <h3 class="condensed light center-align">Featured Albums</h3>

      <div class="carousel">
        <a class="carousel-item center-align" href="#one!" style="color: #808782"><img src="{% static 'img/everyday_is_christmas.jpg' %}"/>Every Day Is Christmas</a>
        <a class="carousel-item center-align" href="#two!" style="color: #808782"><img src="{% static 'img/the_suburbs.jpg' %}"/>The Suburbs</a>
        <a class="carousel-item center-align" href="#three!" style="color: #808782"><img src="{% static 'img/broken_machine.jpg' %}"/>Broken Machine</a>
        <a class="carousel-item center-align" href="#four!" style="color: #808782"><img src="{% static 'img/la_la_land.jpg' %}"/>La La Land Soundtrack</a>
        <a class="carousel-item center-align" href="#four!" style="color: #808782"><img src="{% static 'img/because_the_internet.jpg' %}"/>Because The Internet</a>
      </div>
      <div class="divider">

      </div>
      <div class="section" style="color: #ffc857">
        <h3 class="condensed light center-align">Featured Artists</h3>

          <div class="carousel">
            <a class="carousel-item center-align" href="http://twodoorcinemaclub.com/" style="color: #808782" target="_blank"><img class="circle" src="{% static 'img/two_door_cinema_club.jpg' %}"/>Two Door Cinema Club</a>
            <a class="carousel-item center-align" href="https://awakenmylove.com/" style="color: #808782" target="_blank"><img class="circle" src="{% static 'img/childish_gambino.jpg' %}"/>Childish Gambino</a>
            <a class="carousel-item center-align" href="https://falloutboy.com/" style="color: #808782" target="_blank"><img class="circle" src="{% static 'img/fall_out_boy.jpg' %}"/>Fall Out Boy</a>
            <a class="carousel-item center-align" href="http://www.siamusic.net/" style="color: #808782" target="_blank"><img class="circle" src="{% static 'img/sia.jpg' %}"/>Sia</a>
            <a class="carousel-item center-align" href="http://www.nbthieves.com/" style="color: #808782" target="_blank"><img class="circle" src="{% static 'img/nothing_but_thieves.jpg' %}"/>Nothing But Thieves</a>
          </div>

        </div>
      </div>
  </div>
{% endblock %}
