{% if is_paginated %}

<ul class="pagination right-align">
  <span class="page-links">
           {% if page_obj.has_previous %}
               <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
           {% else %}
              <li class="disabled"><i class="material-icons">chevron_left</i></li>
           {% endif %}
           <span class="page-list">
             {% for p in page_obj.paginator.page_range %}
               <li class="waves-effect {% if p == page_obj.number %} active {% endif %}"><a href="?page={{ p }}">{{ p }}</a></li>
             {% endfor %}
           </span>
           {% if page_obj.has_next %}
               <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
           {% endif %}
   </span>
</ul>
{% endif %}
